body {
  font-family: arial, sans-serif;
  color: #545454;
  font-size: small;
}

div.headtop {
  height: 60px;
  background-color: #f1f1f1;
  width: auto;
  display: block;
  border-bottom: 1px solid #ebebeb;
}

div.headtoplogo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

div.headtopform{
  display: inline-block;
}
.search {
  width: 450px;
  height: 30px;
  border: 1px solid #d9d9d9;
}

.headbottom {
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
}

.headbottomleft {
  float: left;
}
.headbottomleft li:first-child {
  margin: 0 8px 0 128px;
}

.headbottomleft li {
  display: inline;
  margin: 0 8px;
  padding: 0 8px;
  line-height: 60px;
}

.main {
  width: 600px;
  margin-left: 136px;
}

#results {
  margin: 20px 0px;
}

.main-top h1 {
  color: #1a0dab;
  font-size: 18px;
}

.main-top h2 {
  color: #006621;
  font-size: 14px;
}

.main-top h2, p {
  line-height: 16px;
}

.main-top p {
  margin-bottom: 20px;
}

.main-bottom {
  border-top: 1px solid #ebebeb;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #808080;
  margin: 18px 0;
}

.google img {
  display: block;
  margin: auto;
  height: 146.297px;
  width: 350px;
}

.headtopnav {
  float: right;
}

.headtopnav img {
  float: right;
}

footer {
  height: 84px;
  background-color: #f1f1f1;
  width: auto;
  display: block;
  border-top: 1px solid #ebebeb;
}

.headbottomright {
  float: right;
}

.headbottomright li {
  display: inline;
}

table {
  width: 300px;
}

td p {
  font-size: 13px;
  font-weight: bold;
  color: #1a0dab;
}

footer {
  padding-left: 136px;
}
footer p {
  float: left;
}

footer ul {
  clear: left;
}

footer li {
  display: inline;
  margin: 0 8px;
  padding: 0 8px;
  line-height: 60px;
}
